<% if @book.errors.any? %>
       <h3> <%= @book.errors.count %>件のerrorが発生しました</h3>
       <ul> 
          <% @book.errors.full_messages.each do |message| %>
             <li> <%= message %></li>
          <% end %>
      </ul>
    <% end %>
<div class="col-xs-3">
	<h2>User info</h2>
	<%= attachment_image_tag current_user, :profile_image, :fill, 40, 40, fallback: 'image.jpg' %>
	<table class="table">
    <tbody>
     <tr></tr>
     <tr>
     	<th>name</th>
     	<th><%= user.name %></th>
     </tr>
     <tr>
     	<th>introduction</th>
     	<th><%=user.introduction %></th>
     </tr>
    </tbody>
  </table>
  <div class="row"> 
    <% if current_user.id == @user.id %>
  	<%= link_to "編集", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
    <% else %> %>
    <%= link_to "編集", user_path(current_user.id) %>
    <% end %>
  </div>
  <h2>New book</h2>

  <%= form_for(book) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

    <h4>title</h4>
    <%= f.text_field :title %>
 
    <h4>opinion</h4>
    <%= f.text_area :body %>
 
    <%= f.submit 'Create Book' %>
  <% end %>
</div>